# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos temporales y del sistema operativo
*.tmp
*.log
.DS_Store
Thumbs.db

# Editores e IDEs
.vscode/
.idea/
